In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.linear_model import LogisticRegression
from scipy import stats
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

%matplotlib inline

In [2]:
df = pd.read_csv('climate-change-indicators-for-malaysia-1.csv')

In [3]:
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Malaysia,MYS,2016,Agricultural land (sq. km),AG.LND.AGRI.K2,86270
2,Malaysia,MYS,2015,Agricultural land (sq. km),AG.LND.AGRI.K2,85699.697265625
3,Malaysia,MYS,2014,Agricultural land (sq. km),AG.LND.AGRI.K2,80890
4,Malaysia,MYS,2013,Agricultural land (sq. km),AG.LND.AGRI.K2,80592.998046875
...,...,...,...,...,...,...
2208,Malaysia,MYS,1964,Urban population (% of total population),SP.URB.TOTL.IN.ZS,29.232
2209,Malaysia,MYS,1963,Urban population (% of total population),SP.URB.TOTL.IN.ZS,28.558
2210,Malaysia,MYS,1962,Urban population (% of total population),SP.URB.TOTL.IN.ZS,27.895
2211,Malaysia,MYS,1961,Urban population (% of total population),SP.URB.TOTL.IN.ZS,27.241
2212,Malaysia,MYS,1960,Urban population (% of total population),SP.URB.TOTL.IN.ZS,26.598