In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.linear_model import LogisticRegression
from scipy import stats
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

%matplotlib inline

In [4]:
df = pd.read_excel('geo mapping homeless us.xls')

In [5]:
df

,ID,State,Variable,2013,2012,% Change from 2012,Percentage of Total Homeless Populaiton (2013),"Rate per 10,000"
0,Guam - Chronic individuals,Guam,Chronic individuals,51,22.0,131.82%,4.0%,3.20
1,New York - Chronic individuals,New York,Chronic individuals,4045,4324.0,-6.45%,5.2%,2.06
2,Maine - Chronic individuals,Maine,Chronic individuals,159,222.0,-28.38%,5.3%,1.20
3,North Dakota - Chronic individuals,North Dakota,Chronic individuals,110,81.0,35.80%,5.3%,1.52
4,Delaware - Chronic individuals,Delaware,Chronic individuals,65,84.0,-22.62%,6.9%,0.70
...,...,...,...,...,...,...,...,...
427,Texas - Veterans,Texas,Veterans,3878,4364.0,-11.14%,13.1%,1.47
428,Wyoming - Veterans,Wyoming,Veterans,137,311.0,-55.95%,14.4%,2.35
429,West Virginia - Veterans,West Virginia,Veterans,329,268.0,22.76%,14.7%,1.77
430,Kansas - Veterans,Kansas,Veterans,414,373.0,10.99%,15.4%,1.43
431,Montana - Veterans,Montana,Veterans,309,323.0,-4.33%,16.5%,3.04

In [24]:
df['State'].value_counts()

Montana                 8
Kentucky                8
New York                8
Nebraska                8
Guam                    8
New Jersey              8
District of Columbia    8
South Dakota            8
Utah                    8
Oklahoma                8
Arizona                 8
Hawaii                  8
Texas                   8
Missouri                8
Tennessee               8
Wisconsin               8
Indiana                 8
Wyoming                 8
Florida                 8
Alabama                 8
Pennsylvania            8
Puerto Rico             8
South Carolina          8
US Virgin Islands       8
North Dakota            8
Iowa                    8
Rhode Island            8
Delaware                8
Minnesota               8
Ohio                    8
Nevada                  8
New Hampshire           8
Connecticut             8
Maryland                8
New Mexico              8
Michigan                8
Vermont                 8
Oregon                  8
Massachusetts           8
Louisiana               8
Washington              8
Colorado                8
California              8
Kansas                  8
West Virginia           8
Arkansas                8
Alaska                  8
Mississippi             8
North Carolina          8
Virginia                8
Maine                   8
Georgia                 8
Idaho                   8
Illinois                8
Name: State, dtype: int64

In [22]:
df['Variable'].value_counts()

Family Households                   54
Unaccompanied Children and youth    54
Veterans                            54
Chronic individuals                 54
Homeless persons                    54
Persons in families                 54
Unsheltered persons                 54
Chronic Persons in Families         54
Name: Variable, dtype: int64

In [26]:
df2 = df.drop('ID',axis=1)

In [27]:
df2

,State,Variable,2013,2012,% Change from 2012,Percentage of Total Homeless Populaiton (2013),"Rate per 10,000"
0,Guam,Chronic individuals,51,22.0,131.82%,4.0%,3.20
1,New York,Chronic individuals,4045,4324.0,-6.45%,5.2%,2.06
2,Maine,Chronic individuals,159,222.0,-28.38%,5.3%,1.20
3,North Dakota,Chronic individuals,110,81.0,35.80%,5.3%,1.52
4,Delaware,Chronic individuals,65,84.0,-22.62%,6.9%,0.70
...,...,...,...,...,...,...,...
427,Texas,Veterans,3878,4364.0,-11.14%,13.1%,1.47
428,Wyoming,Veterans,137,311.0,-55.95%,14.4%,2.35
429,West Virginia,Veterans,329,268.0,22.76%,14.7%,1.77
430,Kansas,Veterans,414,373.0,10.99%,15.4%,1.43
431,Montana,Veterans,309,323.0,-4.33%,16.5%,3.04